<div class="container">
{{error.message}}
<form>
<pre>

Enter JobTitle:<input type="text" ng-model="job.jobTitle">
Enter Description:<textarea rows="3" cols="15" ng-model="job.jobDescription"></textarea>
Enter Skills Required:<input type="text" ng-model="job.skillsrequired">
Enter Location:<input type="text" ng-model="job.location">
Enter Company name:<input type="text" ng-model="job.companyname">
Enter Salary:<input type="text" ng-model="job.salary">
Enter Years of experience:<input type="text" ng-model="job.yrsofExp">
<input type="submit" value="Add Job" ng-click="addJob()">










</pre>
</form>
</div>