<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Job List</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/background.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/css/bootstrap-select.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.min.js"></script>

</head>
<body   style="padding-top:30px;">
<br><br><br><br><br><br>
<div class="row" >
				<br> <br> <br>
				<div class="col-md-2"></div>
				<div class="panel panel-default col-md-8" style="z-index:2;position: relative; overflow:hidden;">
						<div class="row">
						<div class="panel-heading">
								<div class="input-field col s12 center">
									<img src="images/studentregister.png" width="180" height="110"
										alt=""  align="center" class="img-responsive center-block"  class="responsive-img valign profile-image-login">
									<br> <br>
									<p class="center login-form-text"
										style="color: #ff6005;font-size: 20px;text-align:center">Job Details</p>
								</div>
							</div>
						</div>
						<div class="panel-body">
						<form> 
						<div class="col-md-2">
						<label style="align:left;font-size:16px;">Sort By:</label>
						</div>
						<div class="col-sm-3">
						<div class="form-group">
						<select ng-model="queryBy" style="padding-left:0px"  class="form-control" data-style="btn-info" title="Select one " class="pull pull-left">
						<option value="$"> All</option>
						<option value="jobTitle">Job Title</option>
						<option value="skillsrequired">Skills Required</option>
						</select>
						</div>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-1">
						<label  for="Search" style="font-size:16px;" >Search:</label>
						</div>
						<div class="col-md-4">						
						<input ng-model="query[queryBy]" class="form-control" type="text" style="padding-right:-10px;align:right" class="pull pull-right" >
						</div>
						</form><br><br><br><br>
						<div ng-if="jobs.length==0"><center><h2>No jobs available.</h2></center></div>
	<table class="table table-striped" align="center" ng-show="jobs.length>0" >
		<thead  style="background-color:#ff6005;color:white;font-weight:bold;">
			<tr>
				<th>Job Title</th>
				<th>Skills Required</th>
				<th>Posted On</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="job in jobs | filter:query ">
				<td><a href="#/getJob/{{job.id}}">{{job.jobTitle}} </a></td>
				<td>{{job.skillsrequired}}</td>
				<td>{{job.postedOn | date:'medium'}}</td>
		</tbody>
	</table>
	<br><br><br><br><br>
	</div>
	</div>
	</div>
	<br><br>
	<div class="col-md-2"></div>
</body>
</html>
