<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Upload Profile Pic</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"  type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"  type="text/javascript"></script>
<!-- css and js for profile picture -->
<link   href="resources/css/fileinput.min.css" rel="stylesheet"  media="all" type="text/css">
<link   href="js/themes/explorer/theme.css" rel="stylesheet"  media="all" type="text/css">
<script src="js/fileinput.js" type="text/javascript"></script>
<script src="js/themes/explorer/theme.js" type="text/javascript"></script>
<style>
body{
background:none;
}
</style>
</head>
<body>
<br><br><br><br><br>
<h1  align="center" style="font-family:Algerian;align:center;">Change / Upload Profile Picture</h1>
<br>
<div class="container"  style="z-index:2;position: relative; overflow:hidden;">
<input type="file" name="image" class="file" data-upload-url="http://localhost:9090/collabmiddleware/uploadprofilepic"
data-preview-file-type="any">

</div>
</body>
</html>